
* {
    margin: 0 0 0 0px;
    margin: 0;
    padding: 0;
}

body {
    background-color: forestgreen;
}


/*CABEÇALHO*/
.cabecalho {
    display: flex;
    margin: 5px auto;
    border-radius: 10px;
    max-width: 97%;
    padding: 10px;
    background-color: black;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 90px;
    max-width: 100%;
    min-width: 30%;
}

.botoesMenu {
    display: flex;
    padding: 0px;
    align-items: center;
}

    .botoesMenu ul li {
        display: inline-block;
        max-width: 60%;
        margin: 0 auto;
    }

        .botoesMenu ul li a {
            background-color: forestgreen;
            padding: 0.4em;
            border-radius: 0.2em;
            font-size: 16px;
            font-family: Rockwell;
            text-decoration: none;
            color: black;
        }

            .botoesMenu ul li a:hover {
                background-color: white;
                opacity: 0.5;
            }


/*CENTRO*/
.centro {
    display: flex;
    background-color: black;
    padding: 10px;
    margin: 5px auto;
    border-radius: 10px;
    min-width: 320px;
    max-width: 97%;
    height: 490px;
}

.formulario {
    display: inline-block;
    background-color: aliceblue;
    height: 300px;
    border-radius: 10px;
    margin: 20px auto;
    padding: 15px;
    min-width: 65%;
    max-width: 100%;
}

.divInformacoes {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

    .divInformacoes .txtNome {
        height: 20px;
    }

    .divInformacoes .lblNome {
        color: black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-right: 10px;
    }


.divBotoes {
    display: flex;
    margin-top: 40px;
}


    .divBotoes .btnEnviar {
        width: 40%;
        background-color: yellowgreen;
        border-radius: 5px;
        border-style: none;
        margin: 0 auto;
    }
