* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    min-width: 50%;
    max-width: 100%;
}

.cabecalho {
    display: flex;
    margin: 0 auto;
    min-width: 50%;
    max-width: 100%;
    padding: 10px;
    height: 80px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}

    .cabecalho img {
        height: 80px;
        width: 100px;
        margin: 5px;
    }

.menu {
    padding: 60px;
    width: 100%;
}

    .menu a {
        padding: 5px;
        align-items: center;
        font-size: 20px;
        text-decoration: none;
        color: burlywood;
    }

        .menu a:hover {
            background-color: white;
            color: black;
        }

.centro {
    background-color: lightgrey;
    padding: 10px;
    margin: 1px auto;
    border-radius: 10px;
    min-width: 320px;
    max-width: 97%;
}

    .centro p {
        margin: 0 100px;
    }

.divImagem {
    margin: 40px auto;
    text-align: center;
}

    .divImagem img {
        min-width: 30%;
        max-width: 70%;
        border-radius: 10px;
    }
